html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: greycliff-cf, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #808080;
}

.footer {
  position: fixed;
  bottom: 20px;
  width: 95%;
  right: 5px;
  text-align: right;
}

a {
    color: #D3D3D3;
}

a:active, a:hover {
    color: #808080;
    text-decoration: none;
}

.grid {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
}

.image img {
  width: 100%;
}

ol, ul {
  padding-left: 40px;
}

.page {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  flex-grow: 1;
  background: #F5F5F5;
}
